@import "variables";

// GENERAL
:root {
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  color: $textColor;
  background: $bgColor;
  background: linear-gradient(180deg, $primaryColorLight, $primaryColorDark)
    fixed;
}

// MAIN

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 10px;
  background: $bgColorDark;

  .title {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    font-size: 1.4rem;

    h1 {
      margin: 20px 0;
      color: $primaryColorLight;
      font-size: 3.2rem;
      text-transform: uppercase;
    }

    p {
      width: 90%;
      margin: 0 auto;
    }
  }

  #user-input {
    position: absolute;
    top: -100px;
    opacity: 0;
    user-select: none;
    resize: none;
  }

  .text-container-wrapper {
    max-width: 900px;
    width: 100%;
  }

  #text-container,
  textarea#custom-text-area {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    color: $textColor;
    font-size: 1.8rem;
    font-family: "Courier New", Courier, monospace;
    border-radius: 5px;
    background-color: $bgColor;
    overflow-wrap: break-word;
    cursor: pointer;
  }

  .custom-text-area-container {
    display: none;
  }

  textarea#custom-text-area {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px;
    letter-spacing: 1px;
    outline: none;
    border: none;
    box-shadow: 0 0 2px 0 $bgColorLight;
    resize: none;
    overflow: auto;
  }

  .stats {
    display: none;
    justify-content: space-around;
    align-items: center;
    max-width: 900px;
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    color: $primaryColorLight;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px $primaryColorLight;

    span {
      font-weight: bold;
      color: $textColor;
      span {
        margin: 0 1px 0 0;
        padding: 1px;
        font-family: "Courier New", Courier, monospace;
        font-weight: normal;
        color: initial;
        border-radius: 2px;
        background-color: $bgColorLight;
      }
    }
  }

  button {
    max-width: 900px;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border-style: none;
    border: 1px solid $primaryColorLight;
    border-radius: 5px;
    background: transparent;
    color: $textColor;
    cursor: pointer;

    &:hover {
      background: $bgColor;
    }
  }

  #restart-button {
    width: 100%;
    display: none;
  }
}

/* CONTAINER OUTLINE */

.focused {
  box-shadow: 0 0 2px 1px $primaryColorLight;
}

.blurred {
  box-shadow: 0 0 2px 0 $bgColorLight;
}

/* LETTER STYLES */

i {
  display: inline-block;
}

span {
  border-radius: 2px;
  margin: 0 1px 0 0;
}

/* CHARACTER HIGHLIGHTING */

.incorrect {
  color: #000;
  background-color: #ffcdcd;
}

.was-incorrect {
  color: #000;
  background-color: #ffebba;
}

.corrected {
  color: $textColor;
  background-color: initial;
  background: initial;
}

.correct {
  color: initial;
  background-color: $bgColorLight;
}

.current {
  background-color: #555;
  animation: flash-cursor 1s infinite;
}

/* ANIMATIONS */

@keyframes flash-cursor {
  0% {
    border-bottom: 2px solid #888;
  }
  45% {
    border-bottom: 2px solid #888;
  }
  50% {
    border-bottom: 2px solid #555;
  }
  100% {
    border-bottom: 2px solid #555;
  }
}

/* RESPONSIVE */

@media (max-width: 430px) {
  :root {
    font-size: 10px;
  }
}

@media (min-width: 2560px) {
  :root {
    font-size: 26px;
  }

  main {
    max-width: 1800px;
  }

  .text-container-wrapper {
    max-width: 1600px;
  }
}
